.table__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.table__container-dropdown {
    margin-bottom: 1rem;
}

#dropdown-basic {
    padding: 0.5rem 2rem;
}

.table>thead {
    font-size: 1.3rem;
    text-align: center;
}

.table-responsive {
    max-height: 600px;
}

.error {
    display: flex;
    flex-direction: column;
}

.table__link {
    /*color: white !important;*/
    /*text-decoration: none !important;*/
    all: inherit !important;

}


