.App {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: auto;
  background: var(--primary-color);
  position: absolute;

  font-family: var(--font-base);
  color: var(--third-color)
}