:root {
  --font-base: "Roboto", sans-serif;

  --primary-color: #E0E2DB;
  --secondary-color: #D2D4C8;
  --third-color: #8B2635;
  --text-color: #2E3532;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --white-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
